GOOGLE_API_KEY=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
PORT=3001
NODE_TLS_REJECT_UNAUTHORIZED=0
